@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}